# List every platform only once
platforms:
  # CERNBox v2 only (v1 has been removed)
  cernbox: [v2]
  nextcloud: [v27.1.11, v28.0.14, v29.0.16, v30.0.11, v31.0.5, v32.0.0]
  # ScienceMesh flavour
  nextcloud-sm: [v27.1.11-sm]
  ocis: [v5.0.9, v7.1.2]
  opencloud: [v2.3.0]
  owncloud: [v10.15.0]
  # ScienceMesh flavour
  owncloud-sm: [v10.15.0-sm]
  ocmstub: [v1.0.0, v1.1.0]
  ocmgo: [v1.0.0]
  seafile: [v11.0.13]

# Declarative rules telling the generator how to build permutations
scenarios:
  login:
    # Per-scenario version overrides: extends versions for login only
    # - Nextcloud v33 uses DockyPody nextcloud-contacts image
    # - CERNBox v2 uses DockyPody GHCR v2 stack (idp, cernbox-revad, cernbox-web)
    versions:
      nextcloud: [v27.1.11, v28.0.14, v29.0.16, v30.0.11, v31.0.5, v32.0.0, v33]
      cernbox: [v2]
      ocmstub: [v1.0.0]
    # *: every platform + every version
    include: [cernbox, nextcloud, ocis, opencloud, owncloud, ocmstub, ocmgo, seafile]

  share-link:
    versions:
      ocmstub: [v1.0.0]
    include:
      - sender: [nextcloud]
        receiver: [nextcloud, owncloud, ocmstub]
      - sender: [owncloud]
        receiver: [nextcloud, owncloud]

  share-with:
    versions:
      ocmstub: [v1.0.0]
    include:
      - sender: [nextcloud]
        receiver: [nextcloud, owncloud, ocmstub]
      - sender: [owncloud]
        receiver: [nextcloud, owncloud, ocmstub]
      - sender: [ocmstub]
        receiver: [nextcloud, owncloud, ocmstub]
      - sender: [ocmgo]
        receiver: [ocmgo, nextcloud]
      - sender: [nextcloud]
        receiver: [ocmgo]
      - sender: [seafile]
        receiver: [seafile]
  
  # ScienceMesh and other kinds of invite link federations
  invite-link:
    versions:
      ocmstub: [v1.1.0]
    include:
      - sender: [cernbox]
        receiver: [cernbox, nextcloud-sm, ocis, opencloud, owncloud-sm, ocmstub]
      - sender: [nextcloud-sm]
        receiver: [cernbox, nextcloud-sm, ocis, opencloud, owncloud-sm]
      - sender: [ocis]
        receiver: [cernbox, nextcloud-sm, ocis, opencloud, owncloud-sm]
      - sender: [opencloud]
        receiver: [cernbox, nextcloud-sm, ocis, opencloud, owncloud-sm]
      - sender: [owncloud-sm]
        receiver: [cernbox, nextcloud-sm, ocis, opencloud, owncloud-sm]
      - sender: [ocmstub]
        receiver: [cernbox, ocmstub]
      - sender: [ocmgo]
        receiver: [ocmgo]
  
  # WAYF (Where Are You From) Directory Service mediated invite flows
  # Uses per-scenario version scoping to introduce NC v33 and CB v2 for WAYF only
  # without expanding other scenarios. The versions map overrides global platform
  # versions for this scenario; other scenarios continue using platforms.* versions.
  wayf:
    # Per-scenario version overrides (takes precedence over platforms.*)
    versions:
      nextcloud: [v33]
      cernbox: [v2]
    # Explicit four combinations for Nextcloud v33 and CERNBox v2
    include:
      - sender: [nextcloud]
        receiver: [nextcloud, cernbox]
      - sender: [cernbox]
        receiver: [nextcloud, cernbox]
      - sender: [ocmgo]
        receiver: [ocmgo]
